{{> head}}
{{> header}}

<article style="max-width: 600px; margin: 40px auto; padding: 20px;">
  <h1>{{title}}</h1>
  <p>{{message}}</p>
  
  <br>
  <a href="/">Back to Homepage</a>
</article>

{{> footer}}